*{
  position: relative;
  font-family: 'Comfortaa', cursive;

}

body{
  background-color: #eee;
}

.navbar-brand-icon {
  max-width: 30px ;
  display: inline-block;
  position: relative;
}

main{
  padding-top: 30px;
}

.controls{
  text-align: right;
  margin-bottom: 15px;  
}

.product-card{
  padding: 0px;
  border: 1px solid #dadada;
  margin: 10px 0px;
  position: relative;
  height: 150px;

}

.product-card .controls{
  text-align: right;
  padding: 0px;
  margin: 10px;
}

.product-card .image{
  position: relative;
  display: inline-block;
  background-color: red;
  left: 0px;
  right: 100px;
  top: 0px;
  bottom: 0px;
  
}

.product-card .image img{
  width: 100px;
  height: 100px;
  display: none;
}

.product-card .desc{
  background-color: blue;
  width: 100%;
  display: inline-block;
  margin-left: 110px;
}


.goToCard{
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
}