.navbar-brand-icon {
  max-width: 30px ;
  display: inline-block;
  position: relative;
}

main{
  padding-top: 30px;
}

.controls{
  text-align: right;
  margin-bottom: 15px;  
}

.product-card{
  padding: 0px;
  border: 1px solid #dadada;
  margin: 10px 0px;
  position: relative;

}

.product-card .controls{
  text-align: right;
  padding: 0px;
  margin: 10px;
}


.goToCard{
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
}